@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Anonymous-Pro-Regular";
    src: url("./fonts/Anonymous_Pro.ttf");
  }

  @font-face {
    font-family: "Anonymous-Pro-Bold";
    src: url("./fonts/Anonymous_Pro_B.ttf");
  }
  @font-face {
    font-family: "Code-Bold";
    src: url("./fonts/CODE_Bold.woff");
  }
  @font-face {
    font-family: "Code-Light";
    src: url("./fonts/CODE_Light.woff");
  }

  @layer base {
    h1 {
      @apply text-3xl my-4 font-codeBold text-textPink;
    }

    h2 {
      @apply text-2xl my-2 mt-6 text-textPink;
    }

    h3 {
      @apply text-xl my-2 mt-6 text-textPink;
    }

    p {
      @apply my-4;
    }

    pre {
      @apply my-10;
    }

    strong {
      @apply font-codeBold text-textPink;
    }

    li:before {
      content: "- ";
    }

    p > code {
      @apply p-2 rounded-md text-yellow-100/80;
    }

    li > code {
      @apply p-2 rounded-md text-yellow-100/80;
    }

    a {
      @apply underline;
    }
    
    a:hover {
      @apply text-textGreen;
    }

    code {
      @apply bg-[#1E1E1E] text-[13px];
    }
  }

  @layer components {
    .blinking-cursor:after {
      content: '|';
      @apply text-textPink;
      animation: blink 1s step-start infinite;
    }

    @keyframes blink {
        50% {
          opacity: 0;
        }
    }
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.4);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #8eff1e;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0883;
  }
  
  html {
    overflow-y: overlay;
    overflow-x: hidden;
    background: black;
    scroll-behavior: smooth;
    height: 100%;
  }

  .animate__animated {
    --animate-duration: 0.2s;
  }